<h1><%= @recipe.name %></h1>

<% unless @recipe.image_url.blank? -%>
 <image src="<%= @recipe.image_url %>"/>
 <hr>
<%- end -%>

[<%= link_to("Back to search", root_path) %>]
<br />
<br />

<ul>
  <li>Author: <%= @recipe.author %></li>
  <li>Budget: <%= @recipe.budget %></li>
</ul>

<h2>Preparation</h2>

<ul>
  <%- @recipe.ingredients.each do |ingredient| -%>
    <li><%= ingredient.qte_name %></li>
  <%- end -%>
</ul>
